<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-color: #000">
<div class="background-image">
    <div class="container" style="height: 495px">
        <ul class="list-unstyled">
            <li><a id="tar1090Link" href="#" class="btn btn-primary">TAR1090</a></li>
            <li><a href="/settings" class="btn btn-secondary mt-2">Settings</a></li>
        </ul>
    </div>
</div>
<script>
        // Assuming the website is accessed via hostname or domain name
        const hostname = window.location.hostname;

        // Construct the URL for /tar1090 on port 8080
        const tar1090Url = `http://${hostname}:8080/tar1090`;

        // Set the href attribute of the Tar1090 link
        document.getElementById('tar1090Link').setAttribute('href', tar1090Url);
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
